h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  /* padding-top: 1%;
  padding-bottom: 1%; */
  text-align: left;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: end;
}

.row.center {
  align-items: center;
}
.col-1 {
  flex: 2;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #f3efef;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 9rem;
  width: 200px;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  /* border-radius: 0.5rem; */
  border: 0.1rem #404040 solid;
  background-color: rgb(135, 176, 222);
  width: 20%;
  cursor: pointer;
}
button.add {
  background-color: #d4f5d9;
  width: 1.5rem;
  border-radius: 30px;
}
button.remove {
  background-color: #caa4a4;
  width: 1.5rem;
  border-radius: 30px;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.column {
  background-color: #f3efef;
  color: brown;
}

h1 {
  background-color: rgb(255, 255, 255);
}
